@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('//fonts.googleapis.com/css?family=Poppins:700&display=swap');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}


html {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

.work,
#contact {
	height: 100vh;
}

a,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #000;
	cursor: pointer !important;
}

a:hover {
	cursor: pointer !important;
}

body {
	padding: 0;
	margin: 0;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	position:relative;
	height: auto;
}

#home {
	font-family: 'Poppins', sans-serif;
	font-size: clamp(1rem, 11cqi, 15rem);
	line-height: 1.00em;
	padding: 80px 85px 0 85px;
	width: calc(100% - 100px);
	height: auto;
	background-color: #fff;
	z-index: 5;
	position: relative;
	letter-spacing: -0.02em;
}

#home a:link,
#home a:visited,
#home a:active {
	font-family:'Poppins', sans-serif;
	color: rgb(206, 108, 209);
}

#home a:hover {
	text-decoration: line-through;
}

#home p:link,
#home p:visited,
#home p:active {
	font-family:'Poppins', sans-serif;
	color: rgb(206, 108, 209);
}

#home p:hover {
	text-decoration: line-through;
	color: rgb(206, 108, 209);
}
/*
#work_wrapper {
	width:100%;
	height: 100vh;
	position: relative;
	margin:0;
	padding:0;
} */

.credit {
	position: absolute;
	top: 245px;
	left: -85px;
	font-family: 'Poppins', sans-serif;
	font-size: clamp(1rem, 2cqi, 3rem);
}

#logo {
	position: fixed;
	top: 60px;
	right: 80px;
	font-family:'Poppins', sans-serif;
	font-size: clamp(1rem, 3cqi, 10rem);
	letter-spacing: 0.03em;
	z-index: 2;
	width: 380px;
	height: 20px;
	text-align: right;
}

.work {
	position: relative;
	padding-bottom: 125px;
	width: 100vw;
	height: auto;
	margin-bottom: 100px;
}

.work img {
	height: auto;
	max-height: calc(100% - 280px);
	object-fit: contain;
	width: 75%;
	position: relative;
	margin: auto;
	display: block;
	z-index: 1;
}

.work h1,
.work h2 {
	font-family:'Poppins', sans-serif;
	color: rgb(206, 108, 209);
	position: absolute;
	width: 100vw;
	margin: 0;
	padding:0;
	bottom: 45px;
	right: 90px;
	font-size: clamp(1rem, 20cqi, 25rem);
	text-align: right;
	letter-spacing: -0.03em;
	z-index: 2;
	line-height: 0.80em;
}

.work h3 {
	font-family:'Poppins', sans-serif;
	color: rgb(206, 108, 209);
}

#contact {
	font-family: 'Poppins', sans-serif;
	line-height: 1.00em;
	position: relative;
	letter-spacing: -0.02em;
	width: 100%;
	margin: 0;
	height: 100vh;
	z-index: 5;
	background-color: #222;
	overflow: hidden;
}

#contact h1 {
	font-family: 'Poppins', sans-serif;
	color: rgb(206, 108, 209);
	position: relative;
	width: 100vw;
	margin-top: 50px;
	margin-left: 25px;
	font-size: clamp(1rem, 12cqi, 12rem);
	text-align: left;
	color: #fff;
	letter-spacing: -0.02em;
	z-index: 2;
	line-height: 0.88em;
}

#contact a:link,
#contact a:visited,
#contact a:active {
	font-family:'Poppins', sans-serif !important;
	color: rgb(206, 108, 209);
}

#contact a:hover {
	text-decoration: line-through;
}

#contact h1 a:hover {
	text-decoration: line-through;
}

/* Smartphone */
@media only screen
and (min-device-width : 0px)
and (max-device-width : 700px) {
	.work h1,
	.work h2 {
		font-family: 'Poppins', sans-serif;
		color: rgb(206, 108, 209);
		position: absolute;
		width: 100vw;
		margin: 0;
		padding: 0;
		bottom: 45px;
		right: 90px;
		font-size: clamp(1rem, 20cqi, 25rem);
		text-align: right;
		letter-spacing: -0.03em;
		z-index: 2;
		line-height: 0.80em;
	}

}